
@import url('https://fonts.googleapis.com/css?family=Bitter');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: #000;
    height: 100%;

    font-family: 'Bitter', sans-serif;
}

body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > main {
    margin: auto;
}

form {
    display: block;
    padding: 10px 10px;
    color: #84766b;
    font-size: 14px;
    margin: 10px;
    max-width: 500px;
    text-transform: lowercase;
}

form span {
    vertical-align: middle;
}

main form .button, main form .button > span {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    font-weight: 400;
    width: 260px;
    max-width: 100%;
    text-align: center;
}


main form .button {
    width: auto;
}

form h3 {
    margin: 0;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
}

form h3 > small {
    font-size: 13px;
    display: block;
    font-weight: 400;
    opacity: .7;
}

form * {
    outline: none;
}

form > * {
    padding: 5px;
    box-sizing: border-box;
}

button, .button {
    background: #998a77;
    white-space: nowrap;
    color: #44332a;
    border: none;
    height: 36px;
    line-height: 36px;
    font: inherit;
    font-weight: 600;
    padding: 0 36px;
    cursor: pointer;
    border-radius: 999px;
    margin-top: 20px;
    transition: all .2s;
    text-transform: uppercase;
    font-size: 13px;
    width: 100%;
}

button:hover, .button:hover {
    box-shadow: rgba(0, 0, 0, .25) 0 1px 5px;
    background: #aa937a;
    color: #30261a;
}

button:active, .button:active {
    box-shadow: rgba(0, 0, 0, .18) 0 0 3px;
    transform: translateY(1px);
}

label {
    display: block;
    color: inherit;
    margin-top: 10px;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

label > span {
    display: block;
    padding-bottom: 6px;
    font-size: 13px;
}

input[type=text], input[type=password], input[type=email], select {
    display: block;
    border: 1px transparent solid;
    background: rgba(20, 20, 20, .5);
    color: inherit;
    height: 36px;
    line-height: 36px;
    font: inherit;
    padding: 0 10px;
    margin-bottom: 6px;
    width: 100%;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=email]:disabled, select:disabled {
    color: #7c6a60;
    text-shadow: rgba(0, 0, 0, .15) 0 1px 1px;
}

input:focus {
    border: rgba(255, 255, 255, .26) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 4px;
}

#power-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 97vmin;
    height: 97vmin;
    max-width: 640px;
    max-height: 640px;
    z-index: -1;
}

.gauge .bg {
    stroke: #121212;
    opacity: .65;
}

html.power-on .gauge .fg {
    stroke: rgba(240, 60, 10, .85);
    opacity: .9;
    will-change: stroke-dashoffset;
    transition: stroke-dashoffset linear .1s;
}

/*
html.power-on #power-button {
    opacity: .95;
    fill: rgb(255, 120, 0);
    filter: drop-shadow(#ff5020 0 0 15px);
}
*/
#subscribe-event-list {
    text-align: left;
}
label.toggle {
    display: inline-block;
    margin: 3px 6px 3px 0;
    position: relative;
    background: #121212;
    overflow:hidden;
    border-radius: 4px;
    padding: 4px 6px;
    border: 1px solid rgb(20, 20, 20);
    border-bottom-color: rgb(16, 16, 16);
    border-right-color: rgb(16, 16, 16);
    border-bottom-width: 2px;
    vertical-align: middle;
    perspective: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, .2) 0 0 2px;
    width: auto;
    height: auto;
    }
label.toggle input {
    display: none;
}

label.toggle > .switch, label.toggle input:checked:active + .switch {
    background: linear-gradient(to right, #141414 0%, #1c1c1c 50%, #141414 100%);
    background-size: 200% 100%;
    background-position: 0% 50%;
    width: 45px;
    height: 22px;
    border-radius: 7px 9px 9px 7px;
    border: 1px #0e0e0e solid;
    border-top-color: #121212;
    padding-right: 5px;
    box-sizing: border-box;
    transform: rotateY(-15deg) translateX(-1px);
    transition: all .2s ease-out;
    box-shadow: rgba(0, 0, 0, .3) 3px 0px 1px;
    position: relative;
}
label.toggle input:checked + .switch, label.toggle input:not(:checked):active + .switch {
    transform: rotateY(15deg) translateX(1px);
    background-position: 100% 50%;
    border-radius: 9px 7px 7px 9px;
    box-shadow: rgba(0, 0, 0, .3) -3px 0px 1px;
}

label.toggle > .switch > .indicator {
    background: #882020;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px rgba(50,50,50,0.75) solid;
    transition: all .15s linear;
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 1px;
    margin: auto;
    box-shadow: inset rgba(255, 245, 220, .15) 0 0 7px;
    opacity: .6;
}

label.toggle input:checked + .switch > .indicator {
    opacity: 1;
    background: rgba(240, 70, 10, .85);
    box-shadow: inset rgba(255, 245, 220, .15) 0 0 7px, rgba(250, 100, 50, .85) 0 0 15px -1px;
}

@media screen and (max-width: 639px) {
    #fork-me { display: none; }
}